<tile-area>
    <tile-group title="加钞运维">
      <tile>
        <div class="tile-content">
          <img src="../../assets/images/pages/addnotes/tile_addnotesPlan.png" data-role="fitImage" data-format="fill">
        </div>
      </tile>
      <tile size="tile-wide">
        <div class="tile-content">
          <img src="../../assets/images/pages/addnotes/tile_addnotesDispatch.png" data-role="fitImage" data-format="fill">
        </div>
      </tile>
    </tile-group>
  <tile-group title="加钞参数配置">
    <tile>
      <div class="tile-content">
        <img src="../../assets/images/pages/addnotes/tile_devconfig.png" data-role="fitImage" data-format="fill">
      </div>
    </tile>
    <tile>
      <div class="tile-content">
        <img src="../../assets/images/pages/addnotes/tile_regionAddnotes.png" data-role="fitImage" data-format="fill">
      </div>
    </tile>
    <tile>
      <div class="tile-content">
        <img src="../../assets/images/pages/addnotes/tile_spDateAddnotes.png" data-role="fitImage" data-format="fill">
      </div>
    </tile>
    <tile>
      <div class="tile-content">
        <img src="../../assets/images/pages/addnotes/tile_distSpDateAddnotes.png" data-role="fitImage" data-format="fill">
      </div>
    </tile>
    <tile>
      <div class="tile-content">
        <img src="../../assets/images/pages/addnotes/tile_AddnotesRule.png" data-role="fitImage" data-format="fill">
      </div>
    </tile>
    <tile>
      <div class="tile-content">
        <img src="../../assets/images/pages/addnotes/tile_devRuleExec.png" data-role="fitImage" data-format="fill">
      </div>
    </tile>
  </tile-group>
  <tile-group title="其他">
    <tile>
      <div class="tile-content">
        <img src="../../assets/images/pages/addnotes/tile_orgRouteManager.png" data-role="fitImage" data-format="fill">
      </div>
    </tile>
  </tile-group>
</tile-area>





