<tile-area>

  <tile-group title="应用管理">
    <tile *menuTarget="'application.query'" size="tile-wide"  bg="bg-green" fg="fg-white">
      <div class="tile-content">
        <img src="../../assets/images/businessIntelligence/tile_credit_card_shop.png" data-role="fitImage" data-format="fill">
      </div>
      <span class="tile-label">我的应用</span>
    </tile>
    <tile size="tile" *menuTarget="'application.audit'" bg="bg-green" fg="fg-white">
      <div class="tile-content">
        <img src="../../assets/images/businessIntelligence/tile_grapComponentManage_2.png" data-role="fitImage" data-format="fill">
      </div>
      <span class="tile-label">应用审核</span>
    </tile>
  </tile-group>

</tile-area>





