<tile-area>
  <tile-group title="多维报表">
    <tile *menuTarget="'bi.mdReport'" size="tile-wide"  bg="bg-green" fg="fg-white">
      <div class="tile-content">
        <div class="live-slide"><img src="../../assets/images/pages/bi/tile_graph1.png" data-role="fitImage" data-format="fill"></div>
        <div class="live-slide"><img src="../../assets/images/pages/bi/tile_graph2.png" data-role="fitImage" data-format="fill"></div>
      </div>
      <span class="tile-label">多维报表</span>
    </tile>

  </tile-group>
  <tile-group title="即席分析">
    <tile *menuTarget="'bi.adHocQuery'" size="tile-wide"  bg="bg-green" fg="fg-white">
      <div class="tile-content">
        <img src="../../assets/images/pages/bi/tile_instantAnalysis.png" data-role="fitImage" data-format="fill">
      </div>
      <span class="tile-label">即席分析</span>
    </tile>
  </tile-group>
</tile-area>





