<tile-area>
  <tile-group title="明细查询">
    <tile *menuTarget="'detalQuery.meau'" size="tile-large" bg="bg-green" fg="fg-white">
      <div class="tile-content">
        <div class="live-slide"><img src="../../assets/images/pages/detailQuery/tile_caseDetailQuery_1.png" data-role="fitImage" data-format="fill"></div>
        <div class="live-slide"><img src="../../assets/images/pages/detailQuery/tile_caseDetailQuery_2.png" data-role="fitImage" data-format="fill"></div>
      </div>
      <span class="tile-label">明细查询</span>
    </tile>
  </tile-group>
</tile-area>
z




