<tile-area>
  <tile-group title="组件开发">
    <tile size="tile" *menuTarget="'system.user'" bg="bg-green" fg="fg-white">
      <div class="tile-content">
        <img src="../../assets/images/pages/developer/tile_reportsStaticsDevelop.png" data-role="fitImage" data-format="fill">
      </div>
    </tile>
    <tile *menuTarget="'system.password'"  bg="bg-green" fg="fg-white">
      <div class="tile-content">
        <img src="../../assets/images/pages/developer/tile_detailQueryDevelop.png" data-role="fitImage" data-format="fill">
      </div>
    </tile>
    <tile *menuTarget="'develop.chart'" size="tile-wide"  bg="bg-green" fg="fg-white">
      <div class="tile-content">
        <div class="live-slide"><img src="../../assets/images/businessIntelligence/tile_graph1.png" data-role="fitImage" data-format="fill"></div>
        <div class="live-slide"><img src="../../assets/images/businessIntelligence/tile_graph2.png" data-role="fitImage" data-format="fill"></div>
      </div>
      <span class="tile-label">图表组件开发</span>
    </tile>
  </tile-group>
  <tile-group title="OLAP管理">
    <tile size="tile" *menuTarget="'system.user'" bg="bg-green" fg="fg-white">
      <div class="tile-content">
        <img src="../../assets/images/pages/developer/tile_olapMaintain.png" data-role="fitImage" data-format="fill">
      </div>
    </tile>
  </tile-group>
  <tile-group title="报表模板管理">
    <tile size="tile" *menuTarget="'system.user'" bg="bg-green" fg="fg-white">
      <div class="tile-content">
        <img src="../../assets/images/pages/developer/tile_reportModelManage.png" data-role="fitImage" data-format="fill">
      </div>
    </tile>
  </tile-group>
  <tile-group title="GIS开发">
    <tile size="tile" *menuTarget="'system.user'" bg="bg-green" fg="fg-white">
      <div class="tile-content">
        <img src="../../assets/images/pages/developer/tile_GIS_develop.png" data-role="fitImage" data-format="fill">
      </div>
    </tile>
  </tile-group>
</tile-area>





