<tile-area>
  <tile-group title="服务API">
    <tile size="tile" *menuTarget="'serviceAPI.info'"  bg="bg-green" fg="fg-white">
      <div class="tile-content">
        <div class="live-slide"><img src="../../assets/images/configManage/tile_userInfo1.png" data-role="fitImage" data-format="fill"></div>
        <div class="live-slide"><img src="../../assets/images/configManage/tile_userInfo2.png" data-role="fitImage" data-format="fill"></div>
      </div>
      <span class="tile-label">服务管理</span>
    </tile>
    <tile size="tile" *menuTarget="'serviceAPI.erroCode'"  bg="bg-green" fg="fg-white">
      <div class="tile-content">
        <div class="live-slide"><img src="../../assets/images/configManage/tile_userInfo1.png" data-role="fitImage" data-format="fill"></div>
        <div class="live-slide"><img src="../../assets/images/configManage/tile_userInfo2.png" data-role="fitImage" data-format="fill"></div>
      </div>
      <span class="tile-label">错误码管理</span>
    </tile>
  </tile-group>

</tile-area>





