<tile-area>
  <tile-group title="统计报表">
    <tile *menuTarget="'report.static'"  bg="bg-green" fg="fg-white">
      <div class="tile-content">
        <img src="../../assets/images/businessIntelligence/tile_report_static.png" data-role="fitImage" data-format="fill">
      </div>
      <span class="tile-label">统计报表</span>
    </tile>

    <tile *menuTarget="'report.dynamic'"  bg="bg-green" fg="fg-white">
      <div class="tile-content">
        <img src="../../assets/images/businessIntelligence/tile_report_static.png" data-role="fitImage" data-format="fill">
      </div>
      <span class="tile-label">交互式报表</span>
    </tile>
  </tile-group>
</tile-area>





