<tile-area>
  <tile-group title="用户管理">
    <tile size="tile" *menuTarget="'system.user'"  bg="bg-green" fg="fg-white">
      <div class="tile-content">
        <div class="live-slide"><img src="../../assets/images/configManage/tile_userInfo1.png" data-role="fitImage" data-format="fill"></div>
        <div class="live-slide"><img src="../../assets/images/configManage/tile_userInfo2.png" data-role="fitImage" data-format="fill"></div>
      </div>
      <span class="tile-label">用户管理</span>
    </tile>
    <tile *menuTarget="'system.password'"  bg="bg-green" fg="fg-white">
      <div class="tile-content">
        <img src="../../assets/images/pages/system/tile_userPassword.png" data-role="fitImage" data-format="fill">
      </div>
    </tile>
    <tile *menuTarget="'system.role'" size="tile-wide"  bg="bg-green" fg="fg-white">
      <div class="tile-content">
        <img src="../../assets/images/pages/system/templaterole.jpg" data-role="fitImage" data-format="fill">
      </div>
    </tile>
    <tile  *menuTarget="'system.org'"  bg="bg-green" fg="fg-white">
      <div class="tile-content">
      <img src="../../assets/images/configManage/tile_userOrg.png" data-role="fitImage" data-format="fill">
    </div>
    </tile>
  </tile-group>
  <tile-group title="组件管理">
    <tile *menuTarget="'system.chart'" size="tile-wide" bg="bg-green" fg="fg-white">
      <div class="tile-content">
        <div class="live-slide"><img src="../../assets/images/businessIntelligence/tile_grapComponentManage_1.png" data-role="fitImage" data-format="fill"></div>
        <div class="live-slide"><img src="../../assets/images/businessIntelligence/tile_grapComponentManage_2.png" data-role="fitImage" data-format="fill"></div>
      </div>
      <span class="tile-label">图表组件管理</span>
    </tile>
  </tile-group>

  <tile-group title="定时任务管理">
    <tile *menuTarget="'system.timeJob'" size="tile"  bg="bg-green" fg="fg-white">
      <div class="tile-content">
        <img src="../../assets/images/pages/system/tile_taskConfigManage.png" data-role="fitImage" data-format="fill">
      </div>
    </tile>
    <tile *menuTarget="'system.log'" size="tile"   bg="bg-green" fg="fg-white">
      <div class="tile-content">
        <img src="../../assets/images/pages/system/tile_taskLogManage.png" data-role="fitImage" data-format="fill">
      </div>
    </tile>

  </tile-group>
  <tile-group title="其他">
    <tile size="tile" *menuTarget="'system.detail'" bg="bg-green" fg="fg-white">
      <div class="tile-content">
        <img src="../../assets/images/pages/system/tile_detailQueryManage.png" data-role="fitImage" data-format="fill">
      </div>
    </tile>
    <tile size="tile" *menuTarget="'system.cost'" bg="bg-green" fg="fg-white">
      <div class="tile-content">
        <img src="../../assets/images/pages/system/tile_devCostManage.png" data-role="fitImage" data-format="fill">
      </div>
    </tile>
  </tile-group>
</tile-area>





