<tile-area>
  <tile-group title="大数据监控">
    <tile *menuTarget="'system.password'"  bg="bg-green" fg="fg-white">
      <div class="tile-content">
        <img src="../../assets/images/pages/watcher/tile_caseDataMonitor.png" data-role="fitImage" data-format="fill">
      </div>
    </tile>
    <tile *menuTarget="'system.role'"  bg="bg-green" fg="fg-white">
      <div class="tile-content">
        <img src="../../assets/images/pages/watcher/tile_businessDataMonitor.png" data-role="fitImage" data-format="fill">
      </div>
    </tile>
  </tile-group>
</tile-area>





