<form nz-form [formGroup]="validateForm" (ngSubmit)="_submitForm()" class="style-form">
    <div nz-row>
        <div nz-form-item nz-row>
            <div nz-form-label nz-col>
                <span style="font-size: 20px;margin-top: 1px;">第一次登录，请修改密码</span>
            </div>
        </div>
        <div nz-col [nzSpan]="12" [nzOffset]="6">

            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSpan]="6">
                    <label [attr.for]="'name'" nz-form-item-required
                           style="font-size: 13px;font-weight: bold;">用户名</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="12"
                     class="style-text">
                    <nz-input [nzSize]="'large'" formControlName="name" [nzId]="'name'" [nzDisabled]="true"></nz-input>
                </div>
            </div>
            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSpan]="6">
                    <label nz-form-item-required style="font-size: 13px;font-weight: bold;">旧密码</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="12" nzHasFeedback
                     [nzValidateStatus]="getFormControl('oldPassword')" class="style-text">
                    <nz-input [nzSize]="'large'" [nzType]="'password'" formControlName="oldPassword"
                              [nzId]="'oldPassword'"></nz-input>
                    <div nz-form-explain
                         *ngIf="validateForm.controls['oldPassword'].dirty && validateForm.controls['oldPassword'].errors">
                        {{ validateForm.controls['oldPassword'].errors['explain'] }}
                    </div>
                </div>

            </div>
            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSpan]="6">
                    <label [attr.for]="'newPassword'" nz-form-item-required style="font-size: 13px;font-weight: bold;">新密码</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="12" nzHasFeedback
                     [nzValidateStatus]="getFormControl('newPassword')" class="style-text">
                    <nz-input [nzSize]="'large'" [nzType]="'password'" formControlName="newPassword"
                              [nzId]="'newPassword'" (ngModelChange)="updateConfirmValidator()"></nz-input>
                    <div nz-form-explain
                         *ngIf="validateForm.controls['newPassword'].dirty && validateForm.controls['newPassword'].errors">
                        {{ validateForm.controls['newPassword'].errors['explain'] }}
                    </div>
                </div>
            </div>

            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSpan]="6">
                    <label [attr.for]="'repeatNewPassword'" nz-form-item-required
                           style="font-size: 13px;font-weight: bold;">确认新密码</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="12" nzHasFeedback
                     [nzValidateStatus]="getFormControl('repeatNewPassword')" class="style-text">
                    <nz-input [nzSize]="'large'" [nzType]="'password'" formControlName="repeatNewPassword"
                              [nzId]="'repeatNewPassword'" (ngModelChange)="updateConfirmValidator()"></nz-input>
                    <div nz-form-explain
                         *ngIf="getFormControl('repeatNewPassword').dirty&&getFormControl('repeatNewPassword').hasError('required')">
                        确认密码必输
                    </div>
                    <div nz-form-explain
                         *ngIf="getFormControl('repeatNewPassword').dirty&&getFormControl('repeatNewPassword').hasError('confirm')">
                        确认密码与新密码不同
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div nz-form-item nz-row style="margin-bottom:8px;">
        <div nz-form-control nz-col [nzOffset]="11">
            <button nz-button [nzSize]="'large'" [nzType]="'primary'">提交</button>
            <button nz-button [nzSize]="'large'" [nzType]="'primary'" (click)="resetForm($event)" style="margin-left: 5px;">重置</button>
        </div>
    </div>

</form>
