<ul class="nav">
    <ng-container *ngFor="let group of menuService.menus">
        <ng-container *ngIf="group.hide !== true">
            <li class="nav-group-title">
                <span>{{group.text }}</span>
            </li>
            <ng-container *ngFor="let child of group.children">
                <li nav-group-item *ngIf="child.hide !== true"
                    [class.nav-submenu-open]="child._open"
                    [source]="child">
                </li>
            </ng-container>
        </ng-container>
    </ng-container>
</ul>
